html, body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

body, button, input, textarea {
  font-family: 'Syne Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  text-align: center;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.container {
  position: relative;
  min-height: 90vh;
  max-width: 1200px;
  margin: 0 auto;
  font-size: calc(10px + 2vmin);
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 100%;
  padding-bottom: 16px;
  border-bottom: 1px dashed #fff;
  text-align: left;
}

.btn-finish {
  position: absolute;
  top: 8px;
  right: 0;
  margin: 40px 0;
  padding: 16px 36px;
  background-color: #cf2222;
  transition: background-color 0.3s;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: large;
  letter-spacing: 6px;
}

.btn-finish:hover {
  background-color: #ca3c3c;
}

.card-deck {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-deck > div {
  flex-grow: 1;
  box-sizing: border-box;
  margin: 0 10px 30px;
}

.candidate-card {
  border: 2px solid #6f66be;
  border-radius: 16px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.candidate-card > header {
  display: flex;
  align-items: center;
}

.candidate-card > header img {
  height: 150px;
}

.candidate-card > header h2 {
  font-size: xx-large;
  font-weight: 400;
}

.candidate-card > span {
  margin-top: 24px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 60px;
  display: flex;
  align-items: center;
}

.candidate-card > span small {
  font-size: 30px;
  margin-left: 16px;
}

.candidate-card > button {
  width: 80%;
  max-width: 300px;
  background-color: #0f0c29;
  transition: background-color 0.3s;
  margin-top: 24px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  font-size: large;
  letter-spacing: 10px;
  cursor: pointer
}

.candidate-card > button:hover {
  background-color: #130f35;
}
